<section class="content-header">
  <h1>
    Documentation for <%= @appTitle %>
    <small>User Help</small>
  </h1>
  <p> Good place to practice ajax, display table of docs and when click on
    it have it render in its .md partial with ajax in place</p>
  <p><%= render :partial => "documentation/index_help" %></p>
</section>
