@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('callgirl-02.png');
  background-repeat: repeat;
  background-size: 40%;
  opacity: 0.8;
  filter: alpha(opacity=75);
}