<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <%= link_to 'Documentation', '/documentation/index' %>
  </div>
  <!-- Default to the left -->
  <strong>Copyright © 2015 <a href="#">BareMetal Networks</a>.</strong> All rights reserved. Unauthorized use prohibited.
</footer>

<%= render partial: 'shared/sidebar_config_right' %>