
<% unless session[:user_id].nil? %>
	</ul>
	<p class="navbar-text pull-right"><a href="/profile/logout">Logout</a></p>

<% else %>
	<% if  controller.class.to_s == 'UsersController' %>
		<li class="active"><a href="/profile/signup">Signup</a></li>
	<% else %>
		<li><a href="/profile/signup">Signup</a></li>
	<% end %>

	<% if action_name == 'login' && controller.class.to_s == 'ProfileController' %>
		<li class="active"><a href="/profile/login">Login</a></li>
	<% else %>
		<li><a href="/profile/login">Login</a></li>
	<% end %>
