
<%= javascript_include_tag "//www.google.com/jaspi", "chartkick" %>

<div class="box box-solid box-primary collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Welcome to <%= @appTitle %></h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->

      <span class="label label-primary">#3 Fork -- Dashboard</span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    Rails App Starter Templates
  </div><!-- /.box-body -->
  <div class="box-footer">
  <small>Engineering Team @BareMetalNetworks.com</small>
  </div><!-- box-footer -->
</div><!-- /.box -->

<div class="box box-solid box-primary collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Systems Infrastructure and SuperCluster</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->

      <span class="label label-primary">Titan SuperCluster</span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    Top Level of Organization for Assets, everything inherits from here. If you
    need to issue commnads to the entire system; the SuperCluster provides the
    necessary facilities.
  </div><!-- /.box-body -->
  <div class="box-footer">
    <small>Top Level Of Hierarchy</small>
  </div><!-- box-footer -->
</div><!-- /.box -->



<div class="box box-solid box-danger collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Networks</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->

      <span class="label label-danger">Titan SuperCluster</span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    List of available networks both WAN/LAN and Wifi. Command & Control, and View Statistics in the aggregate or per unit for
    Specialized Networking Assets: Routers, Gateways, Firewalls, Net IDS/IPS
  </div><!-- /.box-body -->
  <div class="box-footer">
    <small>IP Networking</small>
  </div><!-- box-footer -->
</div><!-- /.box -->

<div class="box box-solid box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Networks</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->

      <span class="label label-primary">Titan SuperCluster</span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= line_chart [[1, 4], [2, 6], [3, 9], [4,10]] %>

  </div><!-- /.box-body -->
  <div class="box-footer">
    <small>IP Networking</small>
  </div><!-- box-footer -->
</div><!-- /.box -->



<section class="content-header">
  <h3>
    --Systems Clusters
    <small>Hierarchy Level3 <span class=inlinesparkline">1,4,4,
      7,5,9,10</span></small>
  </h3>
  <p>
    Top Level Organization of [Semi]Homogenous Machines, those that can run similar
    applications and services, like a collection of intel x86 machines.</p>
  <p>Provides facilities for Distributed applications and systems,
  resource management, and job control. Organize by type, like database or application
  server.</p>

</section>





